@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

:root {
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
  --cyan: hsl(179, 62%, 43%);
  --bright-cyan: hsl(179, 47%, 51%);
  --bright-yellow: hsl(71, 72%, 53%);
  --white: hsl(0, 0%, 100%);
}

body,
h1,
h2,
p,
ul,
li {
  padding: 0;
  margin: 0;
  font-family: "Karla", sans-serif;
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-gray);
}

.grid {
  width: 45vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  box-shadow: var(--grayish-blue) 0rem 0.2rem 1rem 0rem;
  border-radius: 1rem;
}

.card-1 {
  grid-column: 1 / span 2;
  background-color: var(--white);
  border-radius: 1rem 1rem 0 0;
}

.card-1 .heading {
  color: var(--cyan);
  margin-bottom: 1.3rem;
}

.card-1 .subheading {
  color: var(--bright-yellow);
  margin-bottom: 0.7rem;
  font-weight: 700;
}

.card-1 p {
  color: var(--grayish-blue);
  line-height: 1.7rem;
  padding-right: 1rem;
}

.card-2 {
  background-color: var(--cyan);
  border-bottom-left-radius: 1rem;
  color: var(--white);
}

.card-2 p {
  margin-bottom: 0.5rem;
}

.card-3 {
  background-color: var(--bright-cyan);
  border-bottom-right-radius: 1rem;
  color: var(--white);
}

.card-3 ul {
  line-height: 1.3rem;
}

.card-3 li {
  list-style-type: none;
}

.p-1 {
  padding: 3rem;
}

.heading-2 {
  margin-bottom: 1rem;
}

.lead {
  font-size: 2rem;
  color: var(--white);
}

.flex {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.accent-1 {
  color: var(--light-gray);
}

.btn {
  width: 100%;
  padding: 1rem 0;
  background-color: var(--bright-yellow);
  border: none;
  border-radius: 0.3rem;
  color: var(--white);
  margin-top: 1.3rem;
  cursor: pointer;
  box-shadow: #767676 0rem 0.1rem 1rem 0rem;
}

.btn:hover {
  animation: transform 0.3s forwards;
}

@keyframes transform {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@media screen and (max-width: 768px) {
  .grid {
    display: block;
    width: 100%;
    margin: 3rem 2rem;
  }

  .p-1 {
    padding: 2rem;
  }

  .card-2 {
    border-radius: 0;
  }

  .card-3 {
    border-radius: 0 0 1rem 1rem;
  }

  .card-1 p {
    padding-right: 0rem;
  }

  .subheading {
    font-size: 0.9rem;
  }

  h1 {
    font-size: 1.2rem;
  }

  h2 {
    font-size: 1rem;
  }

  p,
  li {
    font-size: 0.8rem;
    padding: 0;
  }
}
